body {
    background-color: gainsboro;
    color: navy;
}
 

h1 {
    color: indigo;
    text-align: center;
}

/*Start link formatting*/
:visited {
    color: teal;
}

:link {
    color: lightseagreen;
}
/*End link formatting */

/*Start formatting for Navigation*/

nav {
    text-align: center;
    background-color: silver;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 2px 2px navy; 
}

nav li {
    list-style: none;
    display: inline;
}
nav li a {
    margin: 0px 20px;
    padding: 1em 1em;
    text-decoration: none;
}

nav li a:hover {
    background-color: darkgray;
    border-radius: 20%;
}

.active {
    background-color: navy;
    border-radius: 20%;
}

.page-header {
    margin-top: 55px;
}
/*End formatting for Navigation*/

/*Start formatting for Index Page */
#cohort {
    text-align: center;
}

.category {
    color: darkgreen;
}

.response {
    display: inline;
}

.favorites li {
    list-style: square;
}
/*End formatting for Index Page */

/*Formatting for Resume Page */
.job {
    border-bottom: 2px solid darkgreen;
}
.company {
    margin-bottom: 0;
}

.title {
    margin-top: 0;
}
/*End formatting for Resume Page*/

/*Start formatting for Contact Page*/
.social, .email {
    list-style: none;
}

.contact, .social, .email {
    text-align: center;
}

#send-email, #social-media {
    padding-left: 0;
}

/*End formatting for Contact Page */

/*Start formatting for Projects Page */
.project {
    border: 2px solid darkgreen;
}
/*End formatting for Projects Page */

/* Start formatting for Blog Page*/
.blog {
    border: 2px solid darkgreen;
    padding: 5px;
}

.blog h3 {
    margin-bottom: 0;
}

.weekNum {
    margin-bottom: 0;
}
.weekDate {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: darkgreen;
}

footer {
    margin-top: .5em;
    color: darkgreen;
    text-align: right;
}

#blog-paginator > ul {
    text-decoration: none;
    text-align: center;

}

#blog-paginator li {
    display: inline;
}
/* End formatting for Blog Page*/