/*Start formatting for Contact Page*/
.social, .email {
    list-style: none;
}

.contact, .social, .email {
    text-align: center;
}

#send-email, #social-media {
    padding-left: 0;
}

/*End formatting for Contact Page */